<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recettes-njogonal" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Accaras au niébé</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
      src="assets/images/accaras.jpg" alt="Assiette de accaras">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Accaras au niébé</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h5>[Temps de préparation : environ 20-30 minutes] <br> [Temps de cuisson : environ 15-20 minutes pour la friture des accaras]</h5> <br>
      <p>Les accaras au niébé sont de délicieux beignets frits préparés à partir de haricots niébé (ou haricots de cowpea). Voici une recette pour les réaliser :</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ listrecettes[8].nom }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>Ingrédients :</h3>
          <p>{{ listrecettes[8].ingredients }}</p> <br>
          <h3>Instructions :</h3>
          <p>{{ listrecettes[8].instructions }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>
