<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="logo de waan wi">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Desserts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Image représentant des fruts entourant un jus d'orange." src="assets/images/jus.jpg" />
    <ion-card-header>
      <ion-card-title>Desserts</ion-card-title>
    </ion-card-header>
    <ion-card-content>Envie de se désaltérer, plongez dans les recettes des desserts et boissons qui vous feront monter l'eau à la bouche.</ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('ngalakh')">
    <img alt="Image montrant une assiette de ngalakh." src="assets/images/ngalakh.jpg" />
    <ion-card-header>
      <ion-card-title>Ngalakh</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un peu de ngalakh dans votre vie, ne vous fera pas de mal promis !
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('bissap')">
    <img alt="Deux verres de jus de bissap" src="assets/images/bissap.jpg" />
    <ion-card-header>
      <ion-card-title>Jus de Bissap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un bon verre de jus de bissap pour vous rafraîchir !
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('thiakry')">
    <img alt="Image montrant une assiette de thiakry." src="assets/images/thiakry.jpg" />
    <ion-card-header>
      <ion-card-title>Thiakry</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un bol de thiakry sans raisin n'est que ruine de l'âme !
    </ion-card-content>
  </ion-card>

</ion-content>
