<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Desserts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/jus.jpg" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle class="subtitle">Découvrez les recettes des plats piliers de la gastronomie sénégalaise. Du Nord au Sud, en passant par l'intérieur du pays jusqu'aux côtes dakaroises, la cuisine sénégalaise est d'une richesse sans nom ! <br> Alors ne perdons pas de temps et allons-y !</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('ngalakh')">
    <img alt="Silhouette of mountains" src="assets/images/ngalakh.jpg" />
    <ion-card-header>
      <ion-card-title>Ngalakh</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Envie de se désaltérer, plongez dans les recettes des desserts et boissons qui vous feront monter l'eau à la bouche. 
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('bissap')">
    <img alt="Silhouette of mountains" src="assets/images/bissap.jpg" />
    <ion-card-header>
      <ion-card-title>Jus de Bissap</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Envie de se désaltérer, plongez dans les recettes des desserts et boissons qui vous feront monter l'eau à la bouche. 
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('thiakry')">
    <img alt="Silhouette of mountains" src="assets/images/thiakry.jpg" />
    <ion-card-header>
      <ion-card-title>Thiakry</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Envie de se désaltérer, plongez dans les recettes des desserts et boissons qui vous feront monter l'eau à la bouche. 
    </ion-card-content>
  </ion-card>

</ion-content>
