<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      waañ wi
      <img src="assets/images/cook-2.svg" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
      </ion-buttons>
      <ion-title class="title" size="large">Thiebou Diène</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>


  <ion-list>
    <ion-item *ngFor="let recette of listrecettes">
      <ion-header>
        <ion-label>{{ recette.nom }}</ion-label>
      </ion-header>
      <ion-content>
        <h2>Ingrédients :</h2>
          <ul>
            <li>{{ recette.ingredients }}</li>
          </ul> <br>

        <h2>Instructions :</h2>
          <ol>
            <li>{{ recette.instructions }}</li>
          </ol>
      </ion-content>
    </ion-item>
  </ion-list>
</ion-content>
