<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône de l'application">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">À Propos</ion-title>
    </ion-toolbar>
  </ion-header> <br> <br>

  <ion-list [inset]="true">
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img src="assets/images/mouha.jpg" alt="Photo de profil">
      </ion-avatar>
      <ion-label slot="end">Mouhamed BA</ion-label>
    </ion-item> <br>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h1>À Propos du développeur</h1> <br>
        <p class="text">Je m'appelle <strong>Mouhamed Ba</strong> et je suis étudiant à l'Université Numérique Cheikh Hamidou Kane (ex-UVS) en 3° année d'informatique, développement web, mobile et gaming. Je suis un passionné de programmation, de sport et aussi de lecture (les comics et mangas pour être précis), entre autres.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h1>À Propos de Waañ wi</h1> <br>
        <p class="text">Waañ wi est une application mobile qui vise à simplifier la recherche et la préparation de recettes pour les amateurs de cuisine sénégalaise. Elle offre une variété de recettes provenant de la cuisine de chez nous, avec des fonctionnalités pour faciliter la planification des repas et la gestion des ingrédients. <br> Les recettes sont divisées en trois (3) catégories : les plats (déjeuners), les desserts et les en-cas (plus communément connu sous le nom de njogonal).</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Contacts</h1> <br>
          <ion-item>
            <ion-icon name="mail-sharp" aria-hidden="true" slot="start"></ion-icon>
            <ion-label slot="end">
              <a href="mailto:mouhamed.ba@unchk.edu.sn">Adresse e-mail</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-linkedin" aria-hidden="true" slot="start"></ion-icon>
            <ion-label slot="end">
              <a href="https://www.linkedin.com/in/mouhamed-ba-a166b9200/" target="_blank">LinkedIn</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-github" aria-hidden="true" slot="start"></ion-icon>
            <ion-label slot="end">
              <a href="https://github.com/metzoo10" target="_blank">GitHub</a>
            </ion-label>
          </ion-item>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
