<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recettes-njogonal" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Beignets Dougoup</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>


  <ion-accordion-group>
    <ion-accordion value="first">

      <ion-item slot="header" color="light">
        <ion-label>Ingrédients</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">2 tasses de mil</div>
      <div class="ion-padding" slot="content">1 tasse de farine de blé</div>
      <div class="ion-padding" slot="content">1 cuillère à café de levure chimique</div>
      <div class="ion-padding" slot="content">1 cuillère à soupe de sucre</div>
      <div class="ion-padding" slot="content">Eau</div>
      <div class="ion-padding" slot="content">1 pincée de sel</div>
      <div class="ion-padding" slot="content">Huile végétale pour la friture</div>
    </ion-accordion> <br>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Instructions</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1. Commence par moudre le mil pour obtenir une poudre fine.</div>
      <div class="ion-padding" slot="content">2. Dans un grand bol, mélange la farine de mil, la farine de blé, le sucre, la levure chimique et une pincée de sel.</div>
      <div class="ion-padding" slot="content">3. Ajoute de l'eau progressivement tout en mélangeant jusqu'à obtenir une pâte épaisse et lisse, semblable à celle d'une pâte à beignets.</div>
      <div class="ion-padding" slot="content">4. Laisse reposer la pâte pendant environ 30 minutes pour qu'elle repose et se repose.</div>
      <div class="ion-padding" slot="content">5. Chauffe de l'huile dans une casserole ou une friteuse à feu moyen.</div>
      <div class="ion-padding" slot="content">6. À l'aide d'une cuillère, prends des portions de pâte et forme des petites boules que tu plongeras dans l'huile chaude pour les frire.</div>
      <div class="ion-padding" slot="content">7. Fais frire les beignets jusqu'à ce qu'ils soient dorés et bien cuits à l'intérieur.</div>
      <div class="ion-padding" slot="content">8. Retire-les de l'huile et place-les sur du papier absorbant pour éliminer l'excès d'huile.</div>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
