<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recettes-njogonal" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Beignets Dougoup</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ listrecettes[6].nom }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>Ingrédients :</h3>
          <p>{{ listrecettes[6].ingredients }}</p> <br>
          <h3>Instructions :</h3>
          <p>{{ listrecettes[6].instructions }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>
