<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recettes-njogonal" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Fatayas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>


  <ion-accordion-group>

    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Ingrédients pour la pâte</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">500g de farine</div>
      <div class="ion-padding" slot="content">1 cuillère à café de levure boulangère</div>
      <div class="ion-padding" slot="content">1 cuillère à soupe d'huile végétale</div>
      <div class="ion-padding" slot="content">Eau tiède</div>
      <div class="ion-padding" slot="content">1 pincée de sel</div>
    </ion-accordion> <br>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Ingrédients pour la farce à la viande</ion-label>
      </ion-item>  
      <div class="ion-padding" slot="content">300g de viande hachée (bœuf, poulet, selon préférence)</div>
      <div class="ion-padding" slot="content">1 oignon</div>
      <div class="ion-padding" slot="content">2 gousses d'ail</div>
      <div class="ion-padding" slot="content">1 cuillère à café de concentré de tomates</div>
      <div class="ion-padding" slot="content">1 cuillère à café de moutarde</div>
      <div class="ion-padding" slot="content">1 cuillère à café de piment en poudre (selon le goût)</div>
      <div class="ion-padding" slot="content">Sel</div>
      <div class="ion-padding" slot="content">Poivre</div>
      <div class="ion-padding" slot="content">Huile végétale pour la friture</div>
    </ion-accordion> <br>

    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Instructions pour la pâte</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1. Dans un grand bol, mélanger la farine avec la levure et le sel.</div>
      <div class="ion-padding" slot="content">2. Ajouter l'huile végétale et petit à petit de l'eau tiède tout en mélangeant, jusqu'à obtenir une pâte souple et élastique.</div>
      <div class="ion-padding" slot="content">3. Pétrir la pâte pendant environ 10 minutes, puis laisser reposer couverte pendant au moins 30 minutes.</div>
    </ion-accordion> <br>

    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Instructions pour la farce à la viande</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1. Faire chauffer un peu d'huile dans une poêle et faire revenir l'oignon haché et l'ail écrasé jusqu'à ce qu'ils deviennent translucides.</div>
      <div class="ion-padding" slot="content">2. Ajouter la viande hachée et faire cuire jusqu'à ce qu'elle soit bien dorée.</div>
      <div class="ion-padding" slot="content">3. Incorporer le concentré de tomate, la moutarde, le piment, le sel et le poivre. Laisser mijoter quelques minutes, puis retirer du feu et laisser refroidir.</div>
    </ion-accordion> <br>

    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Assemblage des fatayas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1. Diviser la pâte en petites boules de la taille d'une balle de golf.</div>
      <div class="ion-padding" slot="content">2. Étaler chaque boule de pâte en un cercle fin.</div>
      <div class="ion-padding" slot="content">3. Déposer une cuillère à soupe de farce à la viande au centre de chaque cercle de pâte.</div>
      <div class="ion-padding" slot="content">4. Replier la pâte en demi-cercle sur la farce et sceller les bords en pressant avec les doigts ou en utilisant une fourchette.</div>
      <div class="ion-padding" slot="content">5. Chauffer l'huile dans une casserole ou une friteuse à feu moyen. Une fois l'huile chaude, y plonger les fatayas et les faire frire jusqu'à ce qu'ils soient dorés des deux côtés.</div>
      <div class="ion-padding" slot="content">6. Retirer les fatayas de l'huile et les déposer sur du papier absorbant pour éliminer l'excès d'huile.</div>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
