<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      waañ wi
      <img src="assets/images/cook-2.svg" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
      </ion-buttons>
      <ion-title class="title" size="large">Ngalakh</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>


  <ion-accordion-group>
    <ion-accordion value="first">

      <ion-item slot="header" color="light">
        <ion-label>Ingrédients</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1 tasse de mil (ou de riz cassé)</div>
      <div class="ion-padding" slot="content">1 litre d'eau</div>
      <div class="ion-padding" slot="content">1 tasse de sucre</div>
      <div class="ion-padding" slot="content">1 pincée de sel</div>
      <div class="ion-padding" slot="content">1 tasse d'arachides (cacahuètes) non salées</div>
      <div class="ion-padding" slot="content">1 cuillère à soupe d'huile végétale (optionnel)</div>
      <div class="ion-padding" slot="content">Des fruits secs (dattes ou raisins secs) pour la garniture (optionnel)</div>
    </ion-accordion> <br>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Instructions</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">1. Faire tremper le mil dans de l'eau pendant quelques heures (ou toute une nuit) pour ramollir les grains.</div>
      <div class="ion-padding" slot="content">2. Rincer et égoutter le mil.</div>
      <div class="ion-padding" slot="content">3. Dans une casserole, faire bouillir l'eau et y ajouter le mil.</div>
      <div class="ion-padding" slot="content">4. Ajouter une pincée de sel. Laisser cuire à feu moyen jusqu'à ce que le mil soit tendre et que l'eau soit absorbée. Cela peut prendre environ 45 minutes à 1 heure. Remuer régulièrement pour éviter que le mil ne colle au fond de la casserole.</div>
      <div class="ion-padding" slot="content">5. Pendant ce temps, faire griller les arachides dans une poêle à sec jusqu'à ce qu'elles soient légèrement dorées. Laisser refroidir, puis les broyer ou les réduire en poudre à l'aide d'un mixeur ou d'un mortier.</div>
      <div class="ion-padding" slot="content">6. Ajouter éventuellement une cuillère à soupe d'huile végétale pour lisser la texture et mélanger.</div>
      <div class="ion-padding" slot="content">7. Laisser refroidir le ngalakh avant de le servir. Tu peux le présenter dans des bols individuels et le garnir de fruits secs comme des dattes ou des raisins.</div>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
