<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recettes-desserts" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Thiakry</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
    class="img-style" src="assets/images/header-img.jpg" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>{{ listrecettes[4].nom }}</ion-label>
    </ion-item>
    <ion-item>
      <ul>
        <li>{{ listrecettes[4].ingredients }}</li>
      </ul>
    </ion-item>
    <ion-item>
      <ol>
        <li>{{ listrecettes[4].instructions }}</li>
      </ol>
    </ion-item>
  </ion-list>


</ion-content>
