<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Njogonal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/cook-2.jpg" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle class="subtitle">Découvrez les recettes des plats piliers de la gastronomie sénégalaise. Du Nord au Sud, en passant par l'intérieur du pays jusqu'aux côtes dakaroises, la cuisine sénégalaise est d'une richesse sans nom ! <br> Alors ne perdons pas de temps et allons-y !</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('fataya')">
    <img alt="Silhouette of mountains" src="assets/images/fataya.jpg" />
    <ion-card-header>
      <ion-card-title>Fatayas (pastels)</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Où encore appellé en-cas, les recettes des meilleures amuse-bouches de chez nous. 
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('accara')">
    <img alt="Silhouette of mountains" src="assets/images/accaras.jpg" />
    <ion-card-header>
      <ion-card-title>Accaras au niébé</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Où encore appellé en-cas, les recettes des meilleures amuse-bouches de chez nous. 
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('beignets')">
    <img alt="Silhouette of mountains" src="assets/images/beignets-dgp.jpg" />
    <ion-card-header>
      <ion-card-title>Beignets dougoup (au mil)</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Où encore appellé en-cas, les recettes des meilleures amuse-bouches de chez nous. 
    </ion-card-content>
  </ion-card>

</ion-content>
