<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="logo de waan wi">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Retour" icon="caret-back" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Njogonal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Assortiments d'en-cas" src="assets/images/cook-2.jpg" />
    <ion-card-header>
      <ion-card-title>Njogonal</ion-card-title>
    </ion-card-header>
    <ion-card-content>Des petites bouchées gourmandes parfaites pour combler vos petites faims et égayer vos pauses !</ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('fataya')">
    <img alt="Assiette de fatayas" src="assets/images/fataya.jpg" />
    <ion-card-header>
      <ion-card-title>Fatayas (pastels)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vous vous en mordrez les doigts !
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('accara')">
    <img alt="Assiette de accaras" src="assets/images/accaras.jpg" />
    <ion-card-header>
      <ion-card-title>Accaras au niébé</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Quoi de mieux que du niébé pour faire plaisir à votre ventre !
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('beignets')">
    <img alt="Assiette de beignets de mil (dougoup)" src="assets/images/beignets-dgp.jpg" />
    <ion-card-header>
      <ion-card-title>Beignets dougoup (au mil)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Votre estomac vous remerciera pour cet exquis cadeau !
    </ion-card-content>
  </ion-card>

</ion-content>
