<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="logo de waan wi">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        <img src="assets/images/logo.png" alt="logo de waan wi">
      </ion-title>
    </ion-toolbar><br>
    <ion-toolbar>
      <ion-searchbar animated="true" placeholder="Recherchez !"></ion-searchbar>
    </ion-toolbar>
  </ion-header><br>

  <ion-card>
    <ion-img
     src="assets/images/header.png" alt="photo d'une assiette sur fond orange avec un message"></ion-img>
  </ion-card>
  
  <ion-card (click)="redirigerVersPage('recettes-plats')">
    <img alt="Image de morceaux de viande sur une casserole" src="assets/images/cook.jpg" />
    <ion-card-header>
      <ion-card-title>Plats</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Retrouvez les recettes de plats incontournables de la gastronomie sénégalaise ! 
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)="redirigerVersPage('recettes-desserts')">
    <img alt="Image de petits gâteaux fruités" src="assets/images/dessert.jpg" />
    <ion-card-header>
      <ion-card-title>Desserts</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Délectez-vous de notre sélection exquise de recettes de desserts !
    </ion-card-content>
  </ion-card>

  <ion-card (click)="redirigerVersPage('recettes-njogonal')">
    <img alt="Images de nuggets de poulets sur une assiette" src="assets/images/plat.jpg" />
    <ion-card-header>
      <ion-card-title>Njoganal</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Des petites gourmandises pour combler vos envies à tout moment de la journée ! 
    </ion-card-content>
  </ion-card>

</ion-content>