<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="icône d'une toque">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
      </ion-buttons>
      <ion-title class="title" size="large">Réglages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Mode Sombre
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
